.select {
  @include input;
  @include hide-appearance;

  &-container {
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      right: rem(10);
      transform: translateY(-50%);
      color: var(--primary);
      pointer-events: none;
      user-select: none;
    }
  }
}
