.purchase-order-form {
  $this: &;

  &-container {
    @include container;

    @include desktop {
      padding: 0;
      margin-bottom: rem(40);
      display: flex;
      justify-content: space-between;
    }
  }

  &__group {
    &--info {
      @include desktop {
        display: flex;
        align-items: flex-end;
      }
    }

    &--top {
      @include desktop {
        display: grid;
        grid-template-columns: rem(240) rem(300);
        grid-column-gap: rem(60);
        width: 100%;

        .input-group {
          margin-bottom: 0;
          width: 100%;
        }
      }
    }
  }
}
