.sidebar {
  @include container;

  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-accent-2);
  z-index: $z-sidebar--mobile;
  transform: translateX(-100%);
  transition: transform 0.25s ease;

  @include desktop {
    padding: 0;
    position: static;
    transform: translateX(0%);
    background: none;
  }

  &--open {
    transform: translateX(0);
  }

  &__close {
    @include margin-y(24);

    margin-left: auto;
    background: none;
    padding: 0;

    @include desktop {
      display: none;
    }

    .icon {
      margin: 0;
      color: var(--white);
    }
  }

  &-nav {
    margin-top: rem(40);

    @include desktop {
      margin: 0;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    & > &__item:not(:first-of-type) {
      margin-top: rem(38);
    }

    &__link {
      @include flex-center;
      @include font('Bold');

      color: var(--white);
      font-size: rem(18);
      text-decoration: none;

      @include desktop {
        color: var(--primary-accent-3);
      }

      .icon {
        margin-right: rem(15);
        color: inherit;
      }
    }

    &__item--active > &__link {
      color: var(--dark);
    }
  }
}
