.modal-info-details {
  margin-bottom: rem(50);

  &__detail {
    display: flex;
    flex-direction: column;

    &-title {
      @include font('Bold');

      margin-bottom: rem(10);
      font-size: rem(16);
      color: var(--primary-accent-3);

      @include desktop {
        margin-bottom: rem(20);
        font-size: rem(18);
      }
    }

    &-value {
      @include font('Bold');

      color: var(--dark);

      @include desktop {
        font-size: rem(18);
      }
    }
  }

  & > &__detail:not(:first-of-type) {
    margin-top: rem(20);

    @include desktop {
      margin-top: rem(30);
    }
  }
}
