.grid-guide {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  display: grid;
  pointer-events: none;
  user-select: none;
  z-index: 9999;
  max-width: $max-width;
  transform: translateX(-50%);

  & > span {
    border-right: rem(1) solid var(--primary);
    opacity: 0.3;
  }

  & > span:first-of-type {
    border-left: rem(1) solid var(--primary);
  }
}
