.mini-card {
  @include padding-y(20);
  @include padding-x(20);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: $bp2--mobile;
  border-radius: rem(10);
  background-color: var(--white);

  &__title {
    @include font('Bold');

    font-size: rem(14);
    color: var(--primary-accent-3);

    @include desktop {
      font-size: rem(16);
    }
  }

  &__content {
    @include font('Bold');

    margin-top: rem(10);
    font-size: rem(16);
    color: var(--primary);

    @include desktop {
      font-size: rem(18);
    }
  }
}
