.button {
  @include button-reset;
  @include padding-y(10);
  @include padding-x(20);
  @include font('Bold');

  display: inline-block;
  border-radius: rem(10);
  font-size: rem(16);

  @include desktop {
    @include padding-y(13);

    font-size: rem(18);
  }

  &--with-icon {
    @include flex-center;

    .icon {
      margin-right: rem(10);

      @include desktop {
        margin-right: rem(20);
      }
    }
  }

  &--default {
    background-color: var(--white);
    color: var(--primary);
  }

  &--primary {
    background-color: var(--primary);
    color: var(--white);

    &-v1 {
      background-color: var(--primary-accent-1);
      color: var(--primary);
    }
  }
}
