.stock-in-form {
  padding-bottom: rem(40);

  &-container {
    @include container;

    &__with-delete {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    @include desktop {
      @include padding-x(0);
    }
  }

  &__table {
    @include margin-y(30);

    @include desktop {
      @include margin-y(40);
    }

    &-filters {
      @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: rem(60);
        grid-row-gap: rem(30);

        .input-group {
          margin-bottom: 0;
        }
      }
    }
  }

  &__add-to-list-modal {
    .modal-container {
      @include desktop {
        width: rem(480);
      }
    }
  }

  &__inventory-modal {
    &__actions {
      justify-content: space-between;
    }

    .modal-container {
      @include desktop {
        width: rem(480);
      }
    }
  }

  &__delete {
    margin-top: rem(30);
  }

  .input-group--dateReceived {
    @include desktop {
      width: rem(300);
      margin-left: auto;
    }
  }

  .form-section--references {
    .form-section__content {
      @include desktop {
        display: grid;
        grid-template-columns: rem(180) 1fr 1fr;
        grid-column-gap: rem(60);
      }
    }

    .input-group {
      @include desktop {
        margin-bottom: 0;
      }
    }
  }

  .form-section--details {
    .form-section__content {
      @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: rem(60);
      }
    }

    .input-group {
      &--remarks {
        @include desktop {
          margin-bottom: 0;
        }

        .text-area {
          @include desktop {
            height: calc(100% - 38px);
          }
        }
      }

      &--codedBy {
        margin-bottom: 0;
      }
    }
  }
}
