.table {
  $this: &;

  @include container;
  @include padding-y(30);

  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: $bp2--mobile;

  @include desktop {
    @include padding-y(50);
    @include padding-x(60);

    border-radius: rem(30);
  }

  &--advanced-search {
    #{$this}-filter__advanced {
      color: var(--primary);

      .icon {
        transform: rotateX(180deg);
        color: var(--primary);
      }
    }
  }

  &-header {
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-heading {
    margin-bottom: rem(30);
    display: flex;
    align-items: center;

    @include desktop {
      margin-bottom: 0;
    }

    &__title {
      @include font('Bold');

      margin-left: rem(20);
      font-size: rem(18);
      color: var(--primary-accent-3);

      @include desktop {
        font-size: rem(24);
      }
    }

    .icon svg {
      width: rem(30);
      height: rem(30);
      color: var(--primary-accent-3);
    }
  }

  &-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input {
      width: 172 / 300 * 100%;
      background-color: var(--primary-accent-1);
      color: var(--dark);

      @include desktop {
        margin-right: rem(20);
        width: rem(418);
      }
    }

    &__advanced {
      @include font('Bold');

      display: flex;
      align-items: center;
      font-size: rem(16);
      color: var(--primary-accent-2);

      @include desktop {
        font-size: rem(18);
      }

      .icon {
        margin-left: rem(5);
        transition: transform 0.25s ease;

        @include desktop {
          margin-left: rem(10);
        }
      }
    }
  }

  &-advanced-search {
    max-height: 0;
    transition: max-height 0.25s ease;
    overflow: hidden;

    &__heading {
      @include desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__content {
      padding-top: rem(20);

      @include desktop {
        padding-top: rem(30);
      }
    }

    &__text {
      @include font('Bold');

      margin-bottom: rem(20);
      font-size: rem(16);
      color: var(--primary-accent-3);

      @include desktop {
        margin-bottom: 0;
        font-size: rem(18);
      }
    }

    &__sort {
      display: flex;
      align-items: flex-end;
      margin-bottom: rem(30);

      @include desktop {
        margin-bottom: 0;
      }

      &-button {
        width: rem(40);
        height: rem(40);

        @include desktop {
          width: rem(50);
          height: rem(50);
        }

        .icon {
          margin: 0;
          transition: transform 0.25s ease;
        }

        &--desc .icon {
          transform: rotateX(180deg);
        }
      }

      .input-group {
        margin: 0;
        margin-right: rem(10);
        width: 100%;

        @include desktop {
          display: flex;
          align-items: center;
        }

        &__label {
          @include desktop {
            margin-bottom: 0;
            margin-right: rem(25);
          }
        }

        .select-container {
          @include desktop {
            min-width: rem(220);
          }
        }
      }
    }

    // TODO: Change vars to an appropriate name
    .input-group {
      --primary-accent-4: var(--primary-accent-1);
      --dark: var(--primary);
    }
  }

  &-container {
    display: inline-block;
    table-layout: fixed;
    max-width: 100%;
    min-height: rem(220);
    white-space: nowrap;
    overflow-x: scroll;
    margin-top: rem(30);
    margin-bottom: rem(40);

    @include desktop {
      margin-top: rem(40);
      margin-bottom: rem(65);
    }

    &::-webkit-scrollbar {
      height: rem(2);
      width: rem(2);
    }

    &::-webkit-scrollbar-thumb:horizontal {
      background: var(--primary);
      border-radius: rem(10);
    }

    th,
    td {
      @include font('Bold');

      text-align: left;
      font-size: rem(16);
      color: var(--primary-accent-3);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: rem(20);
      padding-bottom: rem(20);

      @include desktop {
        padding-right: rem(40);
        padding-bottom: rem(25);
        font-size: rem(18);
      }
    }

    tr {
      & > td:last-of-type,
      & > th:last-of-type {
        padding-right: 0;
      }
    }
  }

  &__head {
    th {
      margin-bottom: rem(20);
    }
  }

  &__body {
    tr {
      $table-row: &;

      margin-top: rem(20);

      @include state(hover) {
        cursor: pointer;

        td {
          color: var(--primary);
        }
      }
    }

    td {
      transition: color 0.25s ease;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-limit {
      display: flex;
      align-items: center;

      &__text {
        @include font('Bold');

        margin-right: rem(10);
        font-size: rem(16);
        color: var(--dark);
      }

      .select-container { // stylelint-disable
        .select {
          @include padding-y(0);
          @include padding-x(10);

          width: rem(120);
          min-height: rem(30);
          background-color: var(--primary-accent-1);
          color: var(--primary);
        }

        .icon {
          color: var(--primary);
        }
      }
    }

    &-pagination {
      @include desktop {
        display: flex;
      }

      &__numbers {
        display: none;

        @include desktop {
          @include margin-x(10);
          @include flex-center;
        }
      }

      &__number {
        @include flex-center;
        @include circle(30);
        @include font('Bold');

        padding: 0;
        font-size: rem(16);
        color: var(--primary-accent-2);
        transition: 0.25s ease;
        transition-property: color, background-color;

        @include state(hover) {
          color: var(--white);
          background-color: var(--primary-accent-2);
          cursor: pointer;
        }

        &--active {
          color: var(--white);
          background-color: var(--primary-accent-2);
        }
      }

      &__numbers > li:not(:first-of-type) {
        margin-left: rem(10);
      }

      &__left {
        margin-right: rem(10);
        transform: rotate(90deg);
        color: var(--primary);

        @include desktop {
          margin-right: 0;
        }
      }

      &__right {
        transform: rotate(-90deg);
        color: var(--primary);
      }
    }
  }

  &__add {
    margin-left: auto;
    margin-top: rem(30);
    min-width: rem(130);
    display: inline-block;
    text-decoration: none;

    // TODO: Remove this when the table is fixed
    &-button {
      display: flex;
    }

    @include desktop {
      margin-top: rem(40);
    }
  }
}
