.profile {
  &__img {
    margin-bottom: rem(30);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    @include circle(100);
    @include aspect-ratio(1, 1);

    background-color: var(--primary-accent-1);

    .input {
      opacity: 0;
      z-index: 1;
    }
  }

  &__caption {
    @include input-label;

    margin-top: rem(10);
    margin-bottom: 0;
  }

  .input-group--email {
    margin-bottom: rem(50);
  }
}
