.inventory-form {
  $this: &;

  padding-bottom: rem(40);

  &-container {
    @include container;

    @include desktop {
      padding: 0;
    }

    &--top {
      @include desktop {
        display: grid;
        grid-template-columns: rem(360) rem(240) auto;
        grid-column-gap: rem(60);
        grid-row-gap: rem(30);
      }

      .input-group {
        @include desktop {
          margin-bottom: 0;
          width: 100%;
        }

        &--description {
          @include desktop {
            grid-column: 1 / 2;
          }
        }
      }
    }

    &--table {
      margin-top: rem(40);
      display: flex;
      flex-direction: column;
    }
  }

  &__add-variant {
    margin-top: rem(30);
    margin-left: auto;
  }
}
