.inventory {
  &-filters {
    @include desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 1fr;
      grid-column-gap: rem(60);
      grid-row-gap: rem(20);
    }

    @include desktop {
      .input-group--dateCreated {
        grid-column: 1 / 1;
        grid-row: 1 / -1;
      }

      .input-group--brands {
        grid-column: 2 / -1;
      }

      .input-group--suppliers {
        grid-column: 2 / -1;
      }
    }

    .input-group {
      margin-top: rem(20);

      @include desktop {
        margin: 0;
      }
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

