.supplier {
  &-filters {
    @include desktop {
      margin-top: rem(30);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: rem(60);

      &__group {
        grid-column: 2 / 2;
      }

      .input-group--entry {
        grid-column: 1 / 1;
      }

      .input-group--terms {
        width: rem(150);
      }
    }
  }
}
