.sales-report-form {
  $this: &;

  padding-bottom: rem(40);

  &-container {
    @include container;

    @include desktop {
      padding: 0;
    }
  }

  &__top {
    @include desktop {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__sold-item-filters {
    @include desktop {
      margin-top: rem(30);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: rem(60);
      grid-row-gap: rem(30);

      .input-group {
        margin-bottom: 0;
      }
    }
  }

  .input-group--type,
  .input-group--dateCreated {
    @include desktop {
      margin-bottom: 0;
      display: inline-block;
      width: rem(240);
    }
  }

  .form-section--details {
    .form-section__content {
      @include desktop {
        display: flex;
      }

      #{$this}__group:first-child {
        @include desktop {
          width: rem(360);
          margin-right: rem(60);
        }
      }

      #{$this}__group:last-child {
        @include desktop {
          width: rem(480);
        }
      }
    }
  }

  .form-section--payment {
    .form-section__content {
      @include desktop {
        display: grid;
        grid-template-columns: rem(240) rem(300) rem(240);
        grid-column-gap: rem(60);
        grid-row-gap: rem(30);

        .input-group {
          margin-bottom: 0;
        }
      }
    }
  }
}
