.input-group {
  margin-bottom: rem(20);

  @include desktop {
    margin-bottom: rem(30);
  }

  &__label {
    @include font('Bold');

    margin-bottom: rem(10);
    display: block;
    font-size: rem(16);
    color: var(--primary-accent-3);

    @include desktop {
      margin-bottom: rem(20);
      font-size: rem(18);
    }
  }

  &__error {
    @include font('Bold');

    margin-top: rem(10);
    color: var(--danger);
  }
}
