.form-actions {
  @include desktop {
    margin-bottom: rem(30);
    padding-bottom: rem(10);
    position: sticky;
    top: rem(90);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-container {
    @include container;

    @include desktop {
      padding: 0;
    }
  }

  &--scrolled {
    @include desktop {
      background-color: var(--primary-accent-1);
      z-index: $z-form-actions--desktop;
    }
  }

  .form-title {
    margin-bottom: rem(30);

    @include desktop {
      margin-bottom: 0;
    }
  }

  &-body {
    @include container;
    @include padding-y(10);

    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-accent-1);
    border-top: rem(2) solid var(--primary-accent-2);
    z-index: $z-form-actions--mobile;

    @include desktop {
      padding: 0;
      display: inline-block;
      width: auto;
      position: static;
      border-top: unset;
      background-color: unset;
    }

    & > button:last-of-type {
      @include desktop {
        margin-left: rem(30);
      }
    }
  }
}
