// BREAKPOINTS
$mobile: 375px;
$tablet-p: 768px;
$tablet-l: 1024px;
$desktop: 1280px;
$max-width: 1280px;

// BORDERS
// Name: <border> <primary> <accent>
$bp--mobile: solid 1px var(--primary);
$bp2--mobile: solid 1px var(--primary-accent-2);

// Z-INDEX
$z-dropdown: 100;
$z-form-actions: 99;

// MISC
$dropdown-icon-y-position: 7px;

:root {
  --primary-accent-1: #f4f6fa;
  --primary-accent-2: #92a3c5;
  --primary-accent-3: #9b9fa8;
  --primary-accent-4: #dee1e7;
  --primary: #516ea6;
  --dark: #333;
  --white: #fff;
}
