// BREAKPOINTS
$mobile: 375;
$tablet-p: 768;
$tablet-l: 1024;
$desktop: 1280;
$max-width: 1280;

// BORDERS
// Name: <border> <primary> <accent>
$bp--mobile: 1px solid var(--primary);
$bp2--mobile: 1px solid var(--primary-accent-2);
$bp5--mobile: 1px solid var(--primary-accent-5);

// Z-INDEX

// mobile
$z-notification--mobile: 102;
$z-modal--mobile: 101;
$z-sidebar--mobile: 100; // max 100
$z-header--mobile: 99;
$z-dropdown--mobile: 51;
$z-form-actions--mobile: 50; // min 50

// desktop
$z-header--desktop: 101;
$z-form-actions--desktop: 99;

// MISC
$dropdown-icon-y-position: 7px;
$dropdown-icon-y-position--desktop: 12px;

:root {
  --primary-accent-1: #f4f6fa;
  --primary-accent-2: #92a3c5;
  --primary-accent-3: #9b9fa8;
  --primary-accent-4: #dee1e7;
  --primary-accent-5: #d6e1f6;
  --primary: #516ea6;
  --dark: #333;
  --white: #fff;
  --danger: #f55;
  --success: #d7ffab;
}
