.notification {
  @include font('Bold');

  position: fixed;
  top: 0;
  right: rem(10);
  padding: rem(20);
  border-radius: rem(10);
  background-color: var(--white);
  border: $bp2--mobile;
  font-size: rem(16);
  color: var(--dark);
  transform: translateY(-100%);
  transition: transform 0.25s ease;
  z-index: $z-notification--mobile;

  &--active {
    top: rem(10);
    transform: translateY(0%);
  }

  @include desktop {
    font-size: rem(18);
  }

  &--danger {
    background-color: var(--danger);
    color: var(--white);
  }

  &--success {
    background-color: var(--success);

    .dark & {
      color: var(--white);
    }
  }
}
